@charset "UTF-8";

@media only screen and (orientation: landscape) {

    table {
        width: 600px;
        height: 600px;
    }

    table tr td {
        font-size: 110pt;
        width: 200px;
        max-height: 80vh;
        height: 20vh;
    }
}